body{
    background-color: rgb(56, 107, 8);
    margin: 50px;
}
h1{
    color: aliceblue;
    text-align: center;
}
.links{
    color: blue;
}
div{
    border-width: 5px;
    border-style: solid;
    border-color: rgb(1, 5, 9);
    background-color: aliceblue;
    text-align: center;
    margin: 30px;
    
}
img{
    height: 250px;
    width: 100%;
}
.color{
    color: rgb(107, 198, 16);
    padding-left: 40px;
    padding-right: 40px;
}
button{
    background-color: rgb(63, 63, 127);
    color: aliceblue;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 0px;

}