body{
    background-color: rgb(6, 64, 61);
    color: aliceblue;
    }

section{
    background-color: crimson;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 700px;
    margin-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}
button{
    background-color :rgb(6, 64, 61);
    color: aliceblue;
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
